body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    color: #151515;
}

/* reduce upward padding */
.navbar {
    padding: 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 20vh;
    /* This caused the dropdown to disappear */
    /* overflow: hidden; */
}

.logo {
    height: 30vh;
}

.navbar a, .navbar strong {
    /* design elements of navbar */
    background-color: #FEFEFF;
    color: #151515;
    font-size: 16px;
    border: none;
    /* Get rid of link underline with code */
    text-decoration: none;

}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

/* hover effect for all except the logo */
.navbar a:not(:first-child):hover {
    background-color: #c2c4e533;
}
.navbar strong:hover {
    background-color: #c2c4e533;
}

main {
    margin-left: 8vh;
}

#projects2 {
  display:none;
}


/* Dropdown Button (help from https://www.w3schools.com/howto/howto_css_dropdown.asp) */
  /* Position the dropdown cotent */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Hide dropdown by default */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c2c4e533; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #5B5F97;
    z-index: 1; 
  }
  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #151515;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #c2c4e533;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}


/* Once implement flex-box more, then adjust these accordingly. Just wanted to
get them set up below. */


/* Tablet*/
@media only screen and (max-width: 1000px) {
  /* changing the logo here */
    .navbar a img {
        height: 25vh;
    }
    .navbar {
        height: 19vh;
        padding: 10px;

    }
    .navbar a, .navbar strong { 
        font-size: 13px;
    }

    main { 
        margin-left: 6vh;
        font-size: small;
        /* decerase font size and adjust padding so all fit on one line nicely */

    } 

  /* Need to also change the font here */
  .dropdown-content {
    min-width: 120px;
    box-shadow: 0px 6px 12px 0px #5B5F97;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 9px 12px;
   
  }
} 


/* Phone */
@media only screen and (max-width: 600px) {
  /* changing the logo here */
    .navbar a img {
        height: 30vh;
        /* /* display: block; */
        /* flex-basis: 100%; 
        margin-right: 450px;
        padding: 20px;  */
        /* height: 20vh; */
        /* display: contents; */
    }

  
    .navbar {
        height: 18vh;
        padding: 0px;
        margin-left: 10vh;
        margin-right: 10vh;
        margin-bottom: 5vh;
        justify-content: space-between;
        /* This seems to be key in changing alignment: */
        align-items:inherit;

    }
    .navbar a, .navbar strong { 
        font-size: 10px;
    }

    main { 
        margin-left: 10vh;
        /* decerase font size and adjust padding so all fit on one line nicely */

    } 

  /* Remove extra dropdown content here */
  .dropdown:hover .dropdown-content {display: none;}

  .navbar .dropdown {
    display:none;
  }

  

  /* add a button for mobile layout to have the menu appear; put logo large in the corner */
  /* used https://www.w3schools.com/howto/howto_js_topnav_responsive.asp for code */
    .navbar a:not(:first-child) {display: none;}
    .navbar strong {display: none;}
    .navbar a.icon {
      font-size: 10vh;
      display: block; 
      /* float: right; */
      
      /* could this help? */
      /* display: flex;
      align-items: right; */
    }

  /* why is this button not working? */
  .navbar.responsive {
    position: relative;
    flex-direction: column;
    /* adjust height of navbar so options can drop down */
    height: 50vh;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* how to align these items below the hamburger button?? */
  .navbar.responsive a:not(:first-child), .navbar.responsive strong, .navbar.responsive #projects2  {
    display: block; 
    /* want to position dropdown below the hamburger button */
    align-items: end;
    /* right: 100px; This only seeems to be changing the button*/
  }

  
}


/* Questions:
1. How to make mobile configuration work with the dropdown menu button?
2. How to get tablet nav bar all in-line? 

*/